
      _____                    _____                    _____                    _____                    _____            _____                    _____                    _____                    _____          
     /\    \                  /\    \                  /\    \                  /\    \                  /\    \          /\    \                  /\    \                  /\    \                  /\    \         
    /::\    \                /::\    \                /::\____\                /::\    \                /::\____\        /::\    \                /::\    \                /::\    \                /::\    \        
    \:::\    \               \:::\    \              /::::|   |               /::::\    \              /:::/    /       /::::\    \              /::::\    \              /::::\    \              /::::\    \       
     \:::\    \               \:::\    \            /:::::|   |              /::::::\    \            /:::/    /       /::::::\    \            /::::::\    \            /::::::\    \            /::::::\    \      
      \:::\    \               \:::\    \          /::::::|   |             /:::/\:::\    \          /:::/    /       /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \          /:::/\:::\    \     
       \:::\    \               \:::\    \        /:::/|::|   |            /:::/__\:::\    \        /:::/    /       /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \        /:::/__\:::\    \    
       /::::\    \              /::::\    \      /:::/ |::|   |           /::::\   \:::\    \      /:::/    /       /::::\   \:::\    \      /::::\   \:::\    \       \:::\   \:::\    \      /::::\   \:::\    \   
      /::::::\    \    ____    /::::::\    \    /:::/  |::|___|______    /::::::\   \:::\    \    /:::/    /       /::::::\   \:::\    \    /::::::\   \:::\    \    ___\:::\   \:::\    \    /::::::\   \:::\    \  
     /:::/\:::\    \  /\   \  /:::/\:::\    \  /:::/   |::::::::\    \  /:::/\:::\   \:::\    \  /:::/    /       /:::/\:::\   \:::\    \  /:::/\:::\   \:::\____\  /\   \:::\   \:::\    \  /:::/\:::\   \:::\    \ 
    /:::/  \:::\____\/::\   \/:::/  \:::\____\/:::/    |:::::::::\____\/:::/__\:::\   \:::\____\/:::/____/       /:::/  \:::\   \:::\____\/:::/  \:::\   \:::|    |/::\   \:::\   \:::\____\/:::/__\:::\   \:::\____\
   /:::/    \::/    /\:::\  /:::/    \::/    /\::/    / ~~~~~/:::/    /\:::\   \:::\   \::/    /\:::\    \       \::/    \:::\  /:::/    /\::/    \:::\  /:::|____|\:::\   \:::\   \::/    /\:::\   \:::\   \::/    /
  /:::/    / \/____/  \:::\/:::/    / \/____/  \/____/      /:::/    /  \:::\   \:::\   \/____/  \:::\    \       \/____/ \:::\/:::/    /  \/_____/\:::\/:::/    /  \:::\   \:::\   \/____/  \:::\   \:::\   \/____/ 
 /:::/    /            \::::::/    /                       /:::/    /    \:::\   \:::\    \       \:::\    \               \::::::/    /            \::::::/    /    \:::\   \:::\    \       \:::\   \:::\    \     
/:::/    /              \::::/____/                       /:::/    /      \:::\   \:::\____\       \:::\    \               \::::/    /              \::::/    /      \:::\   \:::\____\       \:::\   \:::\____\    
\::/    /                \:::\    \                      /:::/    /        \:::\   \::/    /        \:::\    \              /:::/    /                \::/____/        \:::\  /:::/    /        \:::\   \::/    /    
 \/____/                  \:::\    \                    /:::/    /          \:::\   \/____/          \:::\    \            /:::/    /                  ~~               \:::\/:::/    /          \:::\   \/____/     
                           \:::\    \                  /:::/    /            \:::\    \               \:::\    \          /:::/    /                                     \::::::/    /            \:::\    \         
                            \:::\____\                /:::/    /              \:::\____\               \:::\____\        /:::/    /                                       \::::/    /              \:::\____\        
                             \::/    /                \::/    /                \::/    /                \::/    /        \::/    /                                         \::/    /                \::/    /        
                              \/____/                  \/____/                  \/____/                  \/____/          \/____/                                           \/____/                  \/____/         
                                                                                                                                                                                                                     

CONSUMER_KEY="CHANGE_HERE"
CONSUMER_SECRET="CHANGE_HERE"
ACCESS_TOKEN_KEY="CHANGE_HERE"
ACCESS_TOKEN_SECRET="CHANGE_HERE"
BEARER_TOKEN="CHANGE_HERE"
